.panel-form .panel-section .panel-heading {
  background-color: #d7d2cb;
  border-color: #53565a;
  min-height: 38px;
  color: #53565a;
  cursor: pointer;
}
.panel-form .panel-section .panel-heading.active,
.panel-form .panel-section .panel-heading:hover {
  background-color: #53565a;
  color: #d7d2cb;
}

.panel-form .panel-section {
  border-left: 1px solid #53565a;
  border-right: 1px solid #53565a;
  border-bottom: 1px solid #53565a;
}

.panel-form {
  border: none;
}

.panel-form .title {
  font-size: 2rem;
}

.panel-form .panel-section .panel-body {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.panel-form .panel-section .panel-body.active {
  height: auto;
  max-height: 600px;
  overflow: hidden;
}

.panel-form .form-header {
  margin-bottom: 0;
  padding-top: 0.4rem;
  border: 1px solid #000;
}
