<nav>
  <div class="nav-wrapper">
    <ul id="nav" class="right">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>

<div role="main">
  <!-- Forms -->
  <h2>Forms</h2>
  <p>some example form</p>
  <app-forms></app-forms>
  <div>
    <ng-container *ngFor="let item of payload">
      <ng-container *ngIf="item.type == 'text'">
        <label>{{ item.value }}<br /></label>
      </ng-container>
    </ng-container>
    {{ payload | json }}
    <app-selection [(updatePayload)]="payload"></app-selection>
  </div>
</div>

<router-outlet></router-outlet>
